
{% extends 'game/base_game.html.twig' %}


{% block body %}
    <h1 class="titre">Modifier le mot de passe</h1>
    <div class="bg-demi-transparent">

    <form method="post" class="text-center">
 

        {{ form(form) }}

    </form>
{% endblock %}