<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/home.css') }}" type="text/css" rel="stylesheet">



    <title>Age Of Territory</title>


</head>
<body>
    <div id="baniere"></div>

<h1 class="titre">Mot de Passe oublié</h1>

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
    <div class="bg-demi-transparent text-center">
        {{ form(form) }}

    </div>



</body>


</html>

