{% extends 'game/base_game.html.twig' %}

{% block body %}

<h1 class="titre">Aide</h1>
    <div class="bg-demi-transparent">
        <h2 class="sous-titre"> Page en construction</h2>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}